.navbar {
  color: azure;
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: Pacifico;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.nav-link {
  font-family: Pacifico;
  margin-right: 30px;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.jumbotron {
  background-image: url("image/imgjumbotron.jpg");
  background-size: cover;
  height: 300px;
  text-align: center;
  font-family: Pacifico;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(214, 213, 213, 0.5), rgba(214, 213, 213, 0));
  position: absolute;
}

.about-text {
  font-family: Pacifico;
  color: rgb(136, 117, 10);
}

.about-text h4 {
  color: rgb(33, 91, 218);
  font-family: Tapestry;
  font-weight: 500;
}

.foto1 {
  width: 100px;
}

.tentang {
  background-color: rgba(254, 207, 210, 1);
  height: 500px;
}

/* .countdown {
  display: flex;
  transform: scale(0.5);
} */

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.google-maps {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 15%;
  width: 75% !important;
  height: 75% !important;
}

.time h2 {
  font-weight: bold;
  font-size: 18px;
  color: darkslategrey;
}

.section-countdown {
  background-image: linear-gradient(360deg, rgba(229, 233, 177, 1) 11.2%, rgba(223, 205, 187, 1) 100.2%);
  /* background-image: linear-gradient(180deg, rgba(252, 225, 208, 1) 30%, rgba(255, 173, 214, 1) 55.7%, rgba(162, 186, 245, 1) 81.8%); */
  /* background-image: linear-gradient(180deg, rgba(178, 253, 238, 0.96) -8.1%, rgba(207, 244, 254, 1) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgba(254, 219, 243, 1) 78.7%, rgba(254, 207, 210, 1) 109.2%); */
  font-family: Pacifico;
  /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
}

.Container-Tempat {
  background-image: url(image/Tempat.jpeg);
  background-size: cover;
}

.Judul-Gallery {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-family: Tapestry;
  font-weight: bolder;
  font-size: 200%;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(35, 45, 184);
}

.Judul-Tempat {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-family: Tapestry;
  font-weight: bolder;
  font-size: 200%;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgb(35, 45, 184);
}

.Judul-About {
  text-shadow: 1px 0px 1px rgb(33, 4, 60);
}

/* .container .gallery-foto {
  padding: 0;
} */

#gallery .row > * {
  padding: 0px;
}

@media (min-width: 992px) {
  .navbar {
    color: transparent;
  }

  .navbar-brand,
  .nav-link {
    font-size: 15px;
    font-family: Pacifico;
    color: white !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }

  .jumbotron {
    height: 500px;
    margin-top: -65px;
  }
  .foto1 {
    width: 200px;
  }

  .time {
    margin: 50px;
  }

  .time h2 {
    font-weight: bold;
    font-size: 50px;
    color: darkslategrey;
  }
}
